$bg-color-App:#e5e5e5;
$bg-color-button:#000;
.App{
  height: 100vh;
  text-align: center;
  background-color: $bg-color-App;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .home{
    flex-direction: column;
  }
  .home-text{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .home-button{
    padding: 10px;
    box-sizing: border-box;
    background-color: $bg-color-button;
    color: #fff;
    cursor: pointer;
  }
  .slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .slider-img{
    width: 400px;
    height: 300px;
  }
}